/* Estilos generales */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos de la barra de navegación */

header {
    display: flex;
    position: fixed;
    z-index: 15;
    width: 100%;
    top: o;
    height: 70px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   
    transition: transform 0.3s ease-out;
    font-size: 15px

}

header.hidden {
    transform: translateY(-100%);
    /* transition: transform 0.3s ease-out; */
}
header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header .navbar a {
    margin-inline: 20px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

header .navbar .logoImageNavBar {
    position: absolute;
    left: 20px;
    margin-top: 10px;
}
header .navbar .logoImageNavBar img {
    width: 200px;
    height: 70px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    
    display: inline;
}
header .navbar .logoImageNavBar img:hover {
    transform: scale(1.1);
}
/* Estilos de la imagen principal */

.principal-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden; /* Para ocultar el desbordamiento de la imagen */
    position: relative; /* Necesario para el posicionamiento absoluto del contenido adicional */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.principal-image img {
    width: 100%;
    height: 100vh; /* Usar el 100% de la altura visible */
    object-fit: cover;

}
.principal-image .logo:hover {
    transform: scale(1.1);
}
/* Estilos del logo en la imagen principal */

.principal-image .logo {
    position: absolute;
    top: 250px;
    transition: transform 0.3s ease-in-out;
}

.principal-image .logo img {
   width: 500px;
   height: 200px;
    object-fit: cover;
   
}

/* Estilos del contenedor de categorías del menú */

.container {
    display: flex;
    flex-direction: column;
}

.container .menu-categories {
    width: 100%;
    height: 400px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 15;

    
}

.container .menu-categories .categories {
    width: 75%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .menu-categories .categories div {
    width: 100%;
    height: 100%;
    margin: 10px;
    position: relative;
}

/* Estilos del texto en el contenedor de categorías */

.container .menu-categories .categories .comida p {
    position: absolute;
    color: black;
    font-size: large;
    margin-top: 80px;
    margin-left: 80px;
    opacity: 0;
    z-index: 7;
    transition: opacity 0.3s ease-in-out; /* Agrega una transición suave a la propiedad de opacidad */
}

.container .menu-categories .categories div:hover p {
    opacity: 1; /* Cuando se hace hover sobre el div .comida, establece la opacidad en 1 */
}

/* Estilos de las imágenes en el contenedor de categorías */

.container .menu-categories .categories div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
    z-index: 5;
}

.container .menu-categories .categories div:hover img {
    filter: blur(3px);
}

/* Estilos del botón de menú */

.container .menu-categories .button-menu {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background: rgb(137, 10, 43);
    color: white;
    border-radius: 8px;
    appearance: none; /* Restablece la apariencia del botón */
    cursor: pointer;
    border: 1px solid black;
    padding: 3px; /* Sin relleno */
    outline: none; /* Quita el contorno predeterminado al enfocar */
    font-family: inherit; /* Hereda la fuente del elemento padre */
    font-size: inherit; /* Hereda el tamaño de fuente del elemento padre */
    transition: background 0.3s ease-in-out;
}

.container .menu-categories .button-menu:hover {
    background: rgb(213, 15, 67);
}

/* Estilos del contenedor dos (abajo del menú) */

.container .container-dos {
    display: grid;
    width: 100%;
    height: 2000px;
    background-color: white;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, 1fr);    /* Dos filas */
    gap: 0px; /* Espacio entre las celdas */
    padding: 0; /* Espaciado interno del contenedor */
    z-index: 11;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1), -10px 0 15px rgba(0, 0, 0, 0.1);
}

/* Estilos del contenedor derecho en la sección dos */

.container .container-dos .about-us-container-right {
   
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .container-dos .about-us-container-right div {
    text-align: center;
    
}
.container .container-dos .about-us-container-right div h1, h2{
    font-weight: 200;
}
.container .container-dos .about-us-container-right div hr{
    width: 50%;
}
/* Estilos de los horarios en el contenedor derecho en la sección dos */

.container .container-dos .about-us-container-right .horarios {
    margin-top: 20px;
    
}

.container .container-dos .about-us-container-right .horarios h1 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
}

.container .container-dos .about-us-container-right .horarios p {
    text-align: center;
    margin: 5px;
   
}

.container .container-dos .about-us-container-right .horarios p span {
    display: inline-block; /* Hace que el span sea un bloque para agregar el espacio */
    width: 100px; /* Ajusta el ancho según tus necesidades */
    text-align: right; /* Alinea el texto a la derecha dentro del span */
    padding-right: 10px; /* Agrega espacio en blanco a la derecha */
    font-weight: 200;
}


/* Estilos del contenedor izquierdo en la sección dos */

.container .container-dos .order-container-left {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .container-dos .order-container-left .content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.container .container-dos .order-container-left .container h1 {
    position: relative;
    top: 0;
}

.container .container-dos .imagen-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 7;
}
.container .container-dos .imagen-izquierda {
    
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 7;
}
.container .container-dos .imagen-derecha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 6;
}
.container .container-dos .imagen-izquierda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 6;
}
/* Estilos del pie de página */

.footer-container {
    width: 100%;
    height: 200px;
    background: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    /* margin: 0;
    padding: 0; */
    color: white;
    font-family: 'Montserrat', sans-serif;
    
   
}
.footer-container .footer-title {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
}
.footer-container .footer-title h1{
   font-size: large;
   font-weight: 300;
}
.footer-container .footer-title p{
    font-size: 10px;
    font-weight: 100;
}
.footer-container .footer-links {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.footer-container .footer-links a{
    text-decoration: none;
    color: white;
    margin-inline:20px;
    transition: color 0.3s ease;
    
}
.footer-container .footer-links a:hover {
    color: rgb(255, 16, 129);
}
.footer-container .logo-footer-container {
    position: relative;
    width: 100px;
    height: 40px;
    top: 0;
}
.footer-container .logo-footer-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer-container .social-networks {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: white; */
}
.footer-container .social-networks a i {
    margin-inline: 10px;
    font-size: 20px;
    color: white;
    transition: color 0.3s ease;
}
.footer-container .social-networks a i:hover {
    color: rgb(255, 16, 129);
}
.footer-container .rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container .rights p {
    text-align: center;
    font-size: 10px;
}
.footer-container .rights p a{
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}
.footer-container .rights p a:hover {
    color: rgb(255, 16, 129);
}